<!-- Footer -->
<div id="footer_cn">
	<div class="container">
		<div class="row">
			<div class="12u">
				
			<!-- Contact -->
				<section class="contact">
					<header>
						<h3>Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></h3>
					</header>
					<p class="subscribe_cn">
						<a target="_blank" href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a>
					</p>
					<ul class="icons">
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</section>
			
			<!-- Copyright -->
				<div class="copyright">
					<ul class="menu">
						<li>All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</li>
						<li>Created by: <a href="http://alensubat.me/">Alen Subat </a> - <a href="http://curiousnerd.me/">Curious Nerd</a></li>
						<li>Inspired by: <a href="http://html5up.net//">HTML5 UP</a></li>
					</ul>
				</div>

			</div>
		
		</div>
	</div>
</div>